body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: pink;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img{
    max-width: 60%;
    margin-bottom: 2em;
}
.butoane{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.butonNu{
    all:unset;
    background-color: red;
    color: white;
    min-width: 10em;
    height:7em;
    border:1px solid black;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
}
.butonDa {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    color: white;
    aspect-ratio: 10 / 7;
    min-width: 10em;
    height: auto;
    border: 1px solid black;
    border-radius: 1em;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
